body,
html {
    min-height: 100vh;
    line-height: 1.15;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    height: inherit;
}

.side {
    width: 100%;
    padding: 20px;
}

.left-side {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    border-left: 1px solid black;
}

.form {
    width: 100%;
    margin: 30px;
}

.form-container {
    font-size: 28px;
    text-align: center;
}

.input {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    font-size: inherit;
    padding: 10px;
    border-radius: 10px;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:hover,
.checkbox-label:hover {
    cursor: pointer;
}

#submit {
    width: 100%;
    font-size: inherit;
    line-height: 50px;
    border-radius: 10px;
    background-color: rgba(213, 44, 255, 0.582);
    color: rgb(255, 255, 255);
}

.movieItem {
    background-color: rgb(46, 143, 46);
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    margin: 5px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    position: relative;
}

.trash {
    position: absolute;
    right: 10px;
    top: 5px;
}

.trash:hover {
    cursor: pointer;
}
